/* Imports */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&display=swap');

/* Basic Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Define Variables */
:root {
    --header-height: 6rem;

    --color-primary: #03C988;
    --color-primary-dark: #03b57a;
    
    --color-background: #121212;
    --color-background-soft: #1E1E1E;

    --color-headings: #E6E6E6;
    --color-text: #E6E6E6;

    --around-padding: 2rem
}

/* General styling */

html {
    font-size: 62.5%;
}

main {
    min-height: calc(100vh - var(--header-height) - var(--around-padding) * 2);
    position: relative;
}

.container {
    max-width: 138rem;
    margin: 0 auto;
    padding: var(--around-padding) 8rem;
}

body {
    background: var(--color-background);
}


/* Typography */

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 2rem;
    color: var(--color-text);
    line-height: 1.2;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-headings);
    font-weight: 800;
    line-height: 1;
}

h1 {
    font-size: 9.6rem;
}

h2 {
    font-size: 6.4rem;
}

h3 {
    font-size: 4.8rem;
}

h4 {
    font-size: 4rem;
}

h5 {
    font-size: 3.6rem;
}

h6 {
    font-size: 3.2rem;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}


/* Buttons */

.btn {
    display: inline-block;
    padding: 2rem 3rem;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary{
    color: var(--color-background-soft);
    background: var(--color-primary);
}

.btn-primary:hover{
    color: var(--color-background-soft);
    background: var(--color-primary-dark);
}

.btn-primary-outline{
    background: none;
    color: var(--color-primary);
    box-shadow: inset 0 0 0 3px var(--color-primary);
}

.btn-primary-outline:hover{
    background: var(--color-primary);
    color: var(--color-background-soft);
}

.btn-dark{
    background: var(--color-background-soft);
    color: var(--color-primary);
}

.btn-dark:hover{
    box-shadow: inset 0 0 0 3px var(--color-background-soft);
    background: var(--color-primary);
    color: var(--color-background-soft);
}

/* For screen sizes lower than 500px, since 500/16 = 31.25em */
@media screen and (max-width: 31.25em) {
    html {

        font-size: 43.75%;
    }
}